.background-theme {
    background-color:rgb(225, 199, 229) ;
}

/* .header {
    position: sticky;
    top:0;
    color: white;
} */

.navbar {
    background-color: rgb(105, 9, 118);
}

.navbar-brand {
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Satisfy', cursive;
}

#dropdown-list {
    background-color: rgb(105, 9, 118);
}

.headings {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color:rgb(99, 25, 133);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brand-name {
    color: rgb(55, 10, 77);
    font-weight: 900;
}

.feature-img {
    width: 100%;
    height: 300px;
    border-radius: 9%;
    border: 2px solid rgb(128, 0, 115);
}

.feature-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:  rgb(128, 0, 115);
    font-size: 30px;
}

.feature-info p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: 355;
}

.roadmap {
    font-size: 20px;
}


.bg-theme {
    background-color: black;
    color: white;
} 

.footer {
    background-color:  rgb(105, 9, 118);
    color: white;
} 

.foot-text {
    color: whitesmoke;
}

.tribeSphere-heading {
    /* font-family: 'Great Vibes', cursive; */
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(128, 0, 115);
    font-family: 'Satisfy', cursive;
}

.social-media {
    display: flex;
    justify-content: space-around;
}

.signup-form {
    border: 1px solid #ccc;
    padding: 20px;
}

.signup-btn {
    display: block;
    width: 100%;
    padding: 7px;
    background-color: rgb(128, 0, 115);
    color: white;
    border: none;
    border-radius: 20px;
}


.signup-para {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

a {
    text-decoration: none;
    color: #302e2e; 
}

a.footer-links {
    color:  whitesmoke;
}

a.footer-links:hover {
    color: rgb(217, 221, 228);
}

.about-heading {
    color: rgb(128, 0, 115);
}


/* costumizing menu of user profile */

.user-menu {

    background-color:rgb(225, 199, 229) ;
    border:1px solid black ;

}

.separator {
    border-right: 0.5px solid black;
}

.banner {
    width:100%;
    height: 150px;
}

.profile-picture {
    height:150px ;
    width:150px;
    z-index: 2;
}

@media (max-width : 750px) {

    .headings {
        font-size: 2rem;
    }

    .feature {
        background-color: rgb(208, 218, 228);
        border-radius: 10px;
        padding: 8%;
        margin-bottom: 15px;
    }

    .feature-img {
        width: 90%;
        height: 230px;
        border: 2px solid rgb(128, 0, 115);
        text-align: center;
    }

    .feature-title {
        font-size: 21px;
        margin-bottom: 0;
    } 

    .feature-info p {
        font-size: 20px;
        text-align: justify;
    }

    #hobby-img {
        width: 0px;
        margin-left: 5%;
    }
}

.create-post {
    width: 40%;
    margin:15vh 30%;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

#imageMediaPost {
    height: 250px;
    width: 100%;
    padding: 20px;
}

.content {
    padding: 20px;
}

.content > textarea {
    width: 100%;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    padding: 20px;
    outline: none;
    resize: none;
}

.post-panel {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}